@model ServerFile.Models.ModelFile

@{
    ViewBag.Title = "Index";
       
}


<html>
<head>
    <title>Pobierz plik</title>
</head>

<body>

    @Html.ActionLink("Create New", "Download")

</body>

</html>